/* ALL*/
* {
	background-color: #f6f6f6;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    list-style-type: none;
	}

/* TITLE */
/*-------------------------------------------------*/
.title {
text-align: center;
padding-bottom: 2.5%;
}

#pageTitle {
    display: inline;
	font-size: 64px;
    font-style: italic;
    margin: 0 auto;
	}

/* SOCIAL LINKS */
/*-------------------------------------------------*/

.socialLinks {
    display: flex;
    padding-inline-start: 0;
    justify-content: center;
}

.socialLinks > li > a > img {
    text-align: center;
    width: 50px; height: auto;
    margin: 5px;
    display: inline;

}

/* CERTIFICATIONS */
/*-------------------------------------------------*/

#certifications{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.certBadgesL1 {
    display: flex;
    padding-inline-start: 0;
    justify-content: center;
}

.certBadgesL2 {
    display: none;
}

.certBadgesL1:hover + .certBadgesL2 {
    display: flex;
    padding-inline-start: 0;
    justify-content: center;
}

.certBadgesL1 > li > a > img {
    height: 200px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;  
}

/* PROJECTS */
/*-------------------------------------------------*/

#projects {
    text-align: center;
}

.projectLinks {
    display: flex;
    padding-inline-start: 0;
    justify-content: center;
    align-items: center;
}

.projectLinks > li > a > img {
    height: auto;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;   
}

.projectLogos {
    height: auto;
    width: 200px;
}

/* ABOUT ME */
/*-------------------------------------------------*/

.aboutMe {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    
}

#aboutMeStatement {
    text-align: left;
}

/* Blinking technique borrowed from https://www.computerhope.com/issues/ch001651.htm */
.blink {
 animation: blink 1s linear infinite;
}

@keyframes blink {
 0% { opacity: 1; }
 50% { opacity: 1; }
 50.01% { opacity: 0; }
 100% { opacity: 0; }
}